Gmbc.Common/Web References/GNCommonWebService_GNCommon/ActiveDirectoryInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="validateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validateUserResult" type="s0:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="validateUserSoapIn">
    <part name="parameters" element="s0:validateUser" />
  </message>
  <message name="validateUserSoapOut">
    <part name="parameters" element="s0:validateUserResponse" />
  </message>
  <portType name="ActiveDirectoryInterfaceSoap">
    <operation name="validateUser">
      <input message="s0:validateUserSoapIn" />
      <output message="s0:validateUserSoapOut" />
    </operation>
  </portType>
  <binding name="ActiveDirectoryInterfaceSoap" type="s0:ActiveDirectoryInterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="validateUser">
      <soap:operation soapAction="http://tempuri.org/validateUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ActiveDirectoryInterface">
    <port name="ActiveDirectoryInterfaceSoap" binding="s0:ActiveDirectoryInterfaceSoap">
      <soap:address location="http://localhost/Gmbc.Common.WebService/GN_Common/ActiveDirectoryInterface.asmx" />
    </port>
  </service>
</definitions>